<a href="https://colab.research.google.com/github/Tanuja42002/skills-copilot-codespaces-vscode/blob/main/Data_Science_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Walmart Sales Analysis

**Installing Libraries**

In [1]:
pip install pandas openpyxl matplotlib

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: openpyxl in /usr/local/lib/python3.10/dist-packages (3.1.5)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (3.7.1)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.10/dist-packages (from openpyxl) (1.1.0)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.3.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (4.54.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.4.7)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (3.2.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

**Loading Excel File**

In [3]:
import pandas as pd
import matplotlib.pyplot as plt

file_path = 'Walmart_Sales.xlsx'
data = pd.read_excel(file_path)
print(data)

      Invoice ID Branch       City Customer type  Gender  \
0    750-67-8428      A     Yangon        Member  Female
1    226-31-3081      A  Naypyitaw        Normal  Female
2    631-41-3108      A     Yangon        Normal    Male
3    123-19-1176      B     Yangon        Member    Male
4    373-73-7910      C     Yangon        Normal    Male
..           ...    ...        ...           ...     ...
995  233-67-5758      A  Naypyitaw        Normal    Male
996  303-96-2227      A   Mandalay        Normal  Female
997  727-02-1313      A     Yangon        Member    Male
998  347-56-2442      B     Yangon        Normal    Male
999  849-09-3807      C     Yangon        Member  Female

               Product line  Unit price  Quantity       Date      Time  \
0         Health and beauty       74.69         7   1/5/2019  13:08:00
1    Electronic accessories       15.28         5   3/8/2019  10:29:00
2        Home and lifestyle       46.33         7   3/3/2019  13:23:00
3         Health and beauty       58.22         8  1/27/2019  20:33:00
4         Sports and travel       86.31         7   2/8/2019  10:37:00
..                      ...         ...       ...        ...       ...
995       Health and beauty       40.35         1  1/29/2019  13:46:00
996      Home and lifestyle       97.38        10   3/2/2019  17:16:00
997      Food and beverages       31.84         1   2/9/2019  13:22:00
998      Home and lifestyle       65.82         1  2/22/2019  15:33:00
999     Fashion accessories       88.34         7  2/18/2019  13:28:00

         Payment  Rating
0        Ewallet     9.1
1           Cash     9.6
2    Credit card     7.4
3        Ewallet     8.4
4        Ewallet     5.3
..           ...     ...
995      Ewallet     6.2
996      Ewallet     4.4
997         Cash     7.7
998         Cash     4.1
999         Cash     6.6

[1000 rows x 12 columns]

**Analyze the performance of sales and revenue at the city and branch level**

In [5]:
sales_performance = data.groupby(['City', 'Branch']).agg(
    Total_Sales=pd.NamedAgg(column='Unit price', aggfunc='sum'),
    Total_Quantity=pd.NamedAgg(column='Quantity', aggfunc='sum')
).reset_index()

print("Sales Performance by City and Branch:")
print(sales_performance)

Sales Performance by City and Branch:
        City Branch  Total_Sales  Total_Quantity
0   Mandalay      A      6349.11             637
1   Mandalay      B      6623.73             664
2   Mandalay      C      5506.04             519
3  Naypyitaw      A      5953.55             648
4  Naypyitaw      B      6298.64             604
5  Naypyitaw      C      6315.57             579
6     Yangon      A      6342.88             598
7     Yangon      B      6329.25             631
8     Yangon      C      5953.36             630

**What is the average price of an item sold at each branch of the city**

In [6]:
average_price = data.groupby(['City', 'Branch']).agg(
    Average_Price=pd.NamedAgg(column='Unit price', aggfunc='mean')
).reset_index()

print("\nAverage Price of Items Sold at Each Branch:")
print(average_price)

Average Price of Items Sold at Each Branch:
        City Branch  Average_Price
0   Mandalay      A      53.353866
1   Mandalay      B      56.133305
2   Mandalay      C      57.958316
3  Naypyitaw      A      54.123182
4  Naypyitaw      B      57.785688
5  Naypyitaw      C      57.941009
6     Yangon      A      55.639298
7     Yangon      B      56.011062
8     Yangon      C      52.684602

**Analyze the performance of sales and revenue, Month over Month across the
Product line, Gender, and Payment Method, and identify the focus areas to
get better sales for April 2019.**

In [7]:
data['Date'] = pd.to_datetime(data['Date'])  # Ensure 'Date' is in datetime format
data['Month'] = data['Date'].dt.to_period('M')  # Extract month and year

monthly_performance = data.groupby(['Month', 'Product line', 'Gender', 'Payment']).agg(
    Total_Sales=pd.NamedAgg(column='Unit price', aggfunc='sum'),
    Total_Quantity=pd.NamedAgg(column='Quantity', aggfunc='sum')
).reset_index()

print("\nMonthly Performance of Sales and Revenue:")
print(monthly_performance)

# Filter for April 2019
april_2019 = monthly_performance[monthly_performance['Month'] == '2019-04']

print("\nFocus Areas for Better Sales in April 2019:")
print(april_2019)

Monthly Performance of Sales and Revenue:
       Month            Product line  Gender      Payment  Total_Sales  \
0    2019-01  Electronic accessories  Female         Cash       534.48
1    2019-01  Electronic accessories  Female  Credit card       371.20
2    2019-01  Electronic accessories  Female      Ewallet       251.77
3    2019-01  Electronic accessories    Male         Cash       552.72
4    2019-01  Electronic accessories    Male  Credit card       433.88
..       ...                     ...     ...          ...          ...
103  2019-03       Sports and travel  Female  Credit card       432.22
104  2019-03       Sports and travel  Female      Ewallet       499.89
105  2019-03       Sports and travel    Male         Cash       493.88
106  2019-03       Sports and travel    Male  Credit card       483.38
107  2019-03       Sports and travel    Male      Ewallet       804.95

     Total_Quantity
0                52
1                54
2                43
3                62
4                43
..              ...
103              52
104              53
105              36
106              60
107              86

[108 rows x 6 columns]

Focus Areas for Better Sales in April 2019:
Empty DataFrame
Columns: [Month, Product line, Gender, Payment, Total_Sales, Total_Quantity]
Index: []